USE [master]
GO
/****** Object:  Database [All_DB]    Script Date: 2/26/2023 4:12:16 AM ******/
CREATE DATABASE [All_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'All_DB', FILENAME = N'E:\Program Files\SQL SERER .. wor\MSSQL15.MSSQLSERVERWORK\MSSQL\DATA\All_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'All_DB_log', FILENAME = N'E:\Program Files\SQL SERER .. wor\MSSQL15.MSSQLSERVERWORK\MSSQL\DATA\All_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [All_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [All_DB]
GO
/****** Object:  Table [dbo].[Add_final_product]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_final_product](
	[Station] [nvarchar](50) NULL,
	[Add_order] [bigint] NOT NULL,
	[Processing_Order] [bigint] NULL,
	[Date] [date] NULL,
	[Order_from] [nvarchar](50) NULL,
	[Order_to] [nvarchar](50) NULL,
	[Program] [nvarchar](100) NULL,
	[Fairtarde] [nvarchar](100) NULL,
	[Package] [float] NULL,
	[Product] [nvarchar](50) NULL,
	[Final_Product] [nvarchar](50) NULL,
	[Package_Type] [nvarchar](100) NULL,
	[Net_Wt] [float] NULL,
	[Gross_Wt] [float] NULL,
	[Total_Net] [float] NULL,
	[Total_Gross] [bigint] NULL,
	[Final_Lot] [float] NULL,
	[Client_Lot] [nvarchar](30) NULL,
	[Treatments] [nvarchar](50) NULL,
	[Invoice_Number] [bigint] NULL,
 CONSTRAINT [PK_Add_final_product] PRIMARY KEY CLUSTERED 
(
	[Add_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Add_Organic_Raw]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Organic_Raw](
	[order] [nvarchar](50) NULL,
	[Primary_Receive_Order] [bigint] NOT NULL,
	[Supplier] [nvarchar](50) NULL,
	[Cerification_Body] [nvarchar](50) NULL,
	[Domestic] [nvarchar](50) NULL,
	[Farm_Invoice] [bigint] NULL,
	[Lot_Weight] [float] NULL,
	[Year] [date] NULL,
	[Product] [nvarchar](50) NULL,
	[Fresh_Dry] [nvarchar](50) NULL,
	[Biscal] [nvarchar](50) NULL,
	[Package] [bigint] NULL,
	[Package_weight] [float] NULL,
	[Fairtade] [nvarchar](50) NULL,
	[Usable_Percent] [nvarchar](50) NULL,
	[Final_Weight] [float] NULL,
	[Lot] [float] NULL,
	[Station] [nvarchar](50) NULL,
	[Receive_Date] [date] NULL,
	[Con_Supplier] [nvarchar](50) NULL,
	[Product_statue] [nvarchar](100) NULL,
	[Domestic_Date] [date] NULL,
	[Farm_Lot] [float] NULL,
	[Season] [nvarchar](50) NULL,
	[Product_Type] [nvarchar](50) NULL,
	[Wearhouse] [nvarchar](50) NULL,
	[Package_Type] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[FLOID] [nvarchar](50) NULL,
	[Quality_control_Name] [nvarchar](50) NULL,
	[Withdraw] [bit] NULL,
 CONSTRAINT [PK_Add_Organic_Raw] PRIMARY KEY CLUSTERED 
(
	[Primary_Receive_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddOrganicRaw_OrganicBalance]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddOrganicRaw_OrganicBalance](
	[Lot] [bigint] NULL,
	[Primary_Receive_Order] [bigint] NULL,
	[Balance] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adminstrator]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adminstrator](
	[AdminstratorID] [bigint] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[UserID] [bigint] NULL,
 CONSTRAINT [PK_Adminstrator] PRIMARY KEY CLUSTERED 
(
	[AdminstratorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Analysis_Sample]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analysis_Sample](
	[Site] [ntext] NULL,
	[Product] [nvarchar](50) NULL,
	[Sample_Lot] [nvarchar](50) NOT NULL,
	[Sample_Report] [nvarchar](max) NULL,
	[Sample_Date] [date] NULL,
	[Sample_Number] [bigint] NULL,
	[Laboratory] [nvarchar](50) NULL,
	[Analysis_Results] [nvarchar](50) NULL,
	[Lot_wieght] [float] NULL,
	[sample_weight] [nvarchar](50) NULL,
 CONSTRAINT [PK_Analysis_Sample] PRIMARY KEY CLUSTERED 
(
	[Sample_Lot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calibration]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calibration](
	[site] [nvarchar](20) NOT NULL,
	[Device_Name] [nvarchar](20) NOT NULL,
	[Responible] [nvarchar](20) NULL,
	[year] [date] NULL,
	[Jan] [bit] NULL,
	[Feb] [bit] NULL,
	[Mar] [bit] NULL,
	[Apr] [bit] NULL,
	[May] [bit] NULL,
	[Jun] [bit] NULL,
	[Jul] [bit] NULL,
	[Aug] [bit] NULL,
	[sep] [bit] NULL,
	[Oct] [bit] NULL,
	[Nov] [bit] NULL,
	[Dec] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[site] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars_Drivers]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars_Drivers](
	[Driver] [nvarchar](50) NULL,
	[Driver_ID] [bigint] NOT NULL,
	[Driver_Mobile] [nvarchar](50) NULL,
	[Trailer_Number] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cars_Drivers] PRIMARY KEY CLUSTERED 
(
	[Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Check_item]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Check_item](
	[Record_Complete] [bit] NOT NULL,
	[Record_related_to_Lot] [bit] NULL,
	[JAS_Certificate_Available_and_valid] [bit] NULL,
	[Purchasing_invoice_Available] [bit] NULL,
	[Receive_order_Available] [bit] NULL,
	[Product_specification_Available] [bit] NULL,
	[Cleaning_production_Available] [bit] NULL,
	[Processing_Dairy_Available] [bit] NULL,
	[The_technical_specification_implementation] [bit] NULL,
	[Storage_Records_saved_and_Available] [bit] NULL,
	[Conforming_to_specification] [bit] NULL,
	[JAS_Label_Available_and_Attached] [bit] NULL,
	[Detials_in_case_of_non_conforming] [bit] NULL,
	[Product_Destination_Details_in_case_of_rejection] [bit] NULL,
	[Connective_Action] [bit] NULL,
	[Export_Order] [nvarchar](100) NULL,
	[Final_Lot] [bigint] NULL,
 CONSTRAINT [PK_Check_item] PRIMARY KEY CLUSTERED 
(
	[Record_Complete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clean_Machine]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clean_Machine](
	[Site] [nvarchar](50) NULL,
	[Date] [date] NOT NULL,
	[Machine] [nvarchar](50) NULL,
	[Previous_Product] [nvarchar](50) NULL,
	[Clean_Product] [nvarchar](100) NULL,
	[Clean_Dose] [nvarchar](50) NULL,
	[Clean_Duration] [nvarchar](50) NULL,
	[Corrective_Action] [nvarchar](100) NULL,
	[Worker] [nvarchar](50) NULL,
	[Signature] [nvarchar](100) NULL,
 CONSTRAINT [PK_Clean_Machine] PRIMARY KEY CLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[Complaint_Number] [int] NOT NULL,
	[Site] [ntext] NULL,
	[Complaint_Method] [nvarchar](100) NULL,
	[Lot_Number] [bigint] NOT NULL,
	[Product] [nvarchar](100) NULL,
	[Complaint_subject] [nvarchar](50) NULL,
	[Investigation_Method] [nvarchar](100) NULL,
	[Investigation_Body] [nvarchar](100) NULL,
	[Investigation] [nvarchar](500) NULL,
	[Investigation_Result] [nvarchar](500) NULL,
	[Quick_Action] [nvarchar](500) NULL,
	[Quick_Action_Date] [date] NULL,
	[Complaint_statue] [nvarchar](500) NULL,
	[Complaint_Date] [date] NULL,
	[Final_Product] [nvarchar](100) NULL,
	[Complianer_Capacity] [nvarchar](100) NULL,
	[Corrective_Action] [nvarchar](500) NULL,
	[Corrective_Action_Date] [date] NULL,
 CONSTRAINT [PK_Complaints] PRIMARY KEY CLUSTERED 
(
	[Complaint_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Container_Check_Items]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Container_Check_Items](
	[Removal_Any_Residual] [bit] NULL,
	[Drying_The_Container] [bit] NULL,
	[Verification_No_Greases] [bit] NULL,
	[Verification_No_Holes] [bit] NULL,
	[Identity_The_Organize_Plan] [bit] NULL,
	[Another_Check] [bit] NULL,
	[Humidity] [nvarchar](200) NULL,
	[temperature] [nvarchar](200) NULL,
	[Cleaning_Roor_And_Walls] [bit] NULL,
	[Venfication_No_Insects] [bit] NULL,
	[Venfication_No_Smells] [bit] NULL,
	[organize_The_Packages] [bit] NULL,
	[Identity_The_Goods] [bit] NULL,
	[Corrective_Action] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Daily_Hygiene]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daily_Hygiene](
	[Site] [nvarchar](50) NULL,
	[Date_Time] [datetime] NOT NULL,
	[Place] [nvarchar](20) NOT NULL,
	[Worker] [nvarchar](20) NULL,
	[Clean] [bit] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[Hygiene_item] [nvarchar](20) NULL,
	[Site_Option] [nvarchar](50) NULL,
	[Injury_Number] [int] NULL,
	[Trap_No] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Place] ASC,
	[Date_Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Date_worker]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Date_worker](
	[Worker_Name] [nvarchar](50) NOT NULL,
	[Weight] [bigint] NULL,
 CONSTRAINT [PK_Date_worker] PRIMARY KEY CLUSTERED 
(
	[Worker_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Employee] [nvarchar](100) NOT NULL,
	[Occupation] [nvarchar](200) NULL,
	[Site_Option] [ntext] NULL,
	[Day_Salary] [money] NULL,
	[Photographs] [image] NOT NULL,
	[identity_Card] [nvarchar](20) NOT NULL,
	[Birth_Certification] [nvarchar](20) NOT NULL,
	[Academic_Certification] [nvarchar](20) NOT NULL,
	[Military_Certification] [nvarchar](20) NOT NULL,
	[Insurance_Status] [nvarchar](20) NULL,
	[Health_Certification] [nvarchar](50) NOT NULL,
	[Certification_Labor_Office] [nvarchar](50) NOT NULL,
	[Driving_License] [nvarchar](50) NULL,
	[form6] [nvarchar](50) NULL,
	[CV] [varbinary](max) NOT NULL,
	[Annual_Leave] [nvarchar](100) NULL,
	[Stick_Leave] [nvarchar](100) NULL,
	[Emergency_Leave] [nvarchar](100) NULL,
	[work_time] [time](7) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Export_Label]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export_Label](
	[Lot_Number] [bigint] NOT NULL,
	[Export_Order] [nvarchar](50) NULL,
	[Final_product] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Lot_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Export_Lot_Sample_Lot]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export_Lot_Sample_Lot](
	[Receive_Lot] [bigint] NULL,
	[Receive_Order] [bigint] NULL,
	[Final_Lot] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Export_Order]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export_Order](
	[Export_Order] [nvarchar](50) NOT NULL,
	[Date] [date] NULL,
	[Client] [nvarchar](50) NULL,
	[Containers] [nvarchar](50) NULL,
	[Shipping_Date] [datetime] NULL,
	[Mark] [nvarchar](50) NULL,
	[Submit_Order] [bit] NULL,
	[Station] [nvarchar](50) NULL,
	[Coordinator] [nvarchar](50) NULL,
	[Invoice_Date] [date] NULL,
	[Containers_Type] [nvarchar](50) NULL,
	[Postof_Loading] [nvarchar](50) NULL,
	[Shipment_ZIP] [nvarchar](50) NULL,
	[Final_Product] [nvarchar](50) NOT NULL,
	[Quote_No] [bigint] NULL,
	[Site] [nvarchar](50) NULL,
	[Client_Code] [bigint] NULL,
 CONSTRAINT [PK_Export_Order] PRIMARY KEY CLUSTERED 
(
	[Export_Order] ASC,
	[Final_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Export_Quotation(Resquest_Quotation)]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export_Quotation(Resquest_Quotation)](
	[Site] [nvarchar](50) NOT NULL,
	[Qoute_No] [bigint] NOT NULL,
	[Client] [nvarchar](80) NULL,
	[Contact] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Discharge] [bit] NULL,
	[Payment] [nvarchar](50) NULL,
	[Marks] [nvarchar](50) NULL,
	[Currency] [nvarchar](50) NULL,
	[Approved] [bit] NULL,
	[Coordinator] [nvarchar](50) NULL,
	[Qoute_Date] [date] NULL,
	[Client_Code] [bigint] NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Country] [nvarchar](50) NULL,
	[Shipping_Time] [datetime] NULL,
	[Delivery] [nvarchar](50) NULL,
	[Total_Price] [float] NULL,
	[Total_cost] [float] NULL,
 CONSTRAINT [PK_Export_Quotation(Resquest_Quotation)] PRIMARY KEY CLUSTERED 
(
	[Site] ASC,
	[Qoute_No] ASC,
	[Client_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Export_Reports]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export_Reports](
	[Product] [nvarchar](50) NOT NULL,
	[Final_Product] [nvarchar](50) NULL,
	[Export_Order] [nvarchar](50) NULL,
	[Client_invoice] [float] NULL,
	[Processing_order] [nvarchar](50) NULL,
	[Final_Lot] [nvarchar](50) NULL,
	[Client_Lot] [nvarchar](50) NULL,
	[Net_Gross] [nvarchar](50) NULL,
	[farm_invoice] [nvarchar](50) NULL,
	[Domestic] [nvarchar](50) NULL,
	[Raw_Lot_Number] [nvarchar](50) NULL,
	[RequestedWt] [nvarchar](50) NULL,
 CONSTRAINT [PK_Export_Reports] PRIMARY KEY CLUSTERED 
(
	[Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Export_Sample]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export_Sample](
	[Sample_Number] [bigint] NOT NULL,
	[Station] [nvarchar](50) NULL,
	[Sample_Date] [date] NULL,
	[Product] [nvarchar](100) NULL,
	[Final_Product] [nvarchar](100) NULL,
	[Lot] [bigint] NULL,
	[Lot_Weight] [bigint] NULL,
	[Production] [nvarchar](100) NULL,
	[Expire] [nvarchar](50) NULL,
	[Sample_weight] [nvarchar](100) NULL,
	[Cerification] [nvarchar](50) NULL,
	[Fairtrade] [bit] NULL,
	[Cerification_Body] [nvarchar](50) NULL,
	[Sample_Specification] [nvarchar](50) NULL,
	[Ex_material%] [float] NULL,
 CONSTRAINT [PK_Export_Sample] PRIMARY KEY CLUSTERED 
(
	[Sample_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exported_Lots]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exported_Lots](
	[Export_Order] [nvarchar](100) NULL,
	[Client_Invoice] [nvarchar](100) NULL,
	[Export_Date] [date] NULL,
	[Final_Lot] [bigint] NOT NULL,
	[Client_Lot] [nvarchar](100) NULL,
	[Lot_weight] [float] NULL,
 CONSTRAINT [PK_Exported_Lots] PRIMARY KEY CLUSTERED 
(
	[Final_Lot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flowchart]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flowchart](
	[Site_Option] [nvarchar](50) NOT NULL,
	[Product_Type] [nvarchar](100) NULL,
	[Step_Name] [nvarchar](100) NULL,
	[Step] [nvarchar](100) NULL,
	[CCP] [bit] NULL,
	[Comment] [nvarchar](500) NULL,
 CONSTRAINT [PK_Flowchart] PRIMARY KEY CLUSTERED 
(
	[Site_Option] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOB_Cost]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOB_Cost](
	[Contanier_Volume] [nvarchar](50) NOT NULL,
	[Contaniers] [nvarchar](50) NULL,
	[Loading_Port] [nvarchar](50) NOT NULL,
	[Product_Quarantine] [nvarchar](80) NULL,
	[Extra_Quarantine] [nvarchar](80) NULL,
	[Cars_Cost] [float] NULL,
	[Fees] [nvarchar](100) NULL,
	[THC] [nvarchar](100) NULL,
	[Off_Rec] [nvarchar](50) NULL,
	[Extra_Cost] [float] NULL,
	[Fright_Cost] [float] NULL,
 CONSTRAINT [PK_FOB_Cost] PRIMARY KEY CLUSTERED 
(
	[Contanier_Volume] ASC,
	[Loading_Port] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hygiene_Plan]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hygiene_Plan](
	[Site_Option] [nvarchar](50) NOT NULL,
	[Site] [nvarchar](50) NOT NULL,
	[Hygiene_item] [nvarchar](20) NOT NULL,
	[Clean_Time] [time](7) NULL,
	[Clean_Material] [nvarchar](50) NULL,
	[Material_QTY] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Site_Option] ASC,
	[Site] ASC,
	[Hygiene_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[information_sticker]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[information_sticker](
	[Product_name] [nvarchar](80) NULL,
	[Manufacturer_name] [nvarchar](80) NULL,
	[Model_number] [float] NULL,
	[Batch_number] [float] NULL,
	[Bar_code] [nvarchar](50) NULL,
	[Safety_warnings] [nvarchar](80) NULL,
	[Operating_instructions] [nvarchar](80) NULL,
	[Energy_efficiency_rating] [nvarchar](80) NOT NULL,
	[Environmental_information] [nvarchar](80) NULL,
	[Export_Order] [nvarchar](50) NOT NULL,
	[Final_Product] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_information_sticker] PRIMARY KEY CLUSTERED 
(
	[Export_Order] ASC,
	[Final_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Injury_Notication]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Injury_Notication](
	[Injury_Number] [bigint] NOT NULL,
	[Site] [ntext] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Date_Time] [datetime] NULL,
	[Injury_Details] [nvarchar](100) NULL,
	[Action_Taken] [nvarchar](20) NULL,
	[Attached] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Injury_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Internal_Shipping]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internal_Shipping](
	[Shipping_Order] [nvarchar](50) NOT NULL,
	[Station] [nvarchar](30) NULL,
	[Shipping_Date] [datetime] NULL,
	[Car_Number] [bigint] NULL,
	[Driver_ID] [bigint] NULL,
	[Out_From] [nvarchar](50) NULL,
	[Destination] [nvarchar](50) NULL,
	[Product] [nvarchar](50) NULL,
	[Product_Type] [nvarchar](50) NULL,
	[Gross_Weight] [float] NULL,
	[Net_Weight] [nvarchar](50) NULL,
	[Packages] [float] NULL,
	[Packs_Type] [nvarchar](50) NULL,
	[Car_Empty_weight] [nvarchar](50) NULL,
	[Car_Gross_Weight] [nvarchar](50) NULL,
	[Biscal_File] [nvarchar](100) NULL,
	[Cost] [float] NULL,
	[Paid] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[Worker_Mobile] [nvarchar](50) NULL,
 CONSTRAINT [PK_Internal_Shipping] PRIMARY KEY CLUSTERED 
(
	[Shipping_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JAS_Check_List]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JAS_Check_List](
	[Station] [nvarchar](50) NULL,
	[Export_Order] [nvarchar](100) NOT NULL,
	[Product] [nvarchar](50) NULL,
	[Final_Lot] [bigint] NOT NULL,
	[QTY] [bigint] NULL,
	[Processing_Order] [nvarchar](50) NULL,
	[Final_Product] [nvarchar](50) NULL,
	[Client_Lot] [nvarchar](100) NULL,
 CONSTRAINT [PK_JAS_Check_List] PRIMARY KEY CLUSTERED 
(
	[Export_Order] ASC,
	[Final_Lot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loading_workers]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loading_workers](
	[Worker_Name] [nvarchar](100) NULL,
	[Worker_Mobile] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Loading_workers] PRIMARY KEY CLUSTERED 
(
	[Worker_Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lot_Traceability]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lot_Traceability](
	[Export_Order] [nvarchar](100) NOT NULL,
	[Client_Invoice] [nvarchar](100) NULL,
	[Station_Lot] [nvarchar](100) NULL,
	[Client_Lot] [nvarchar](100) NULL,
	[Double_Click_To_Print_Domestic] [nvarchar](200) NULL,
 CONSTRAINT [PK_Lot_Traceability] PRIMARY KEY CLUSTERED 
(
	[Export_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_Cleaning]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_Cleaning](
	[Machine] [nvarchar](50) NOT NULL,
	[Start_date] [date] NULL,
	[End_date] [date] NULL,
	[Operation_date] [date] NULL,
	[Date] [datetime] NULL,
	[Clean_Lot] [nvarchar](50) NULL,
	[Clean_Does] [nvarchar](50) NULL,
	[Clean_Product] [nvarchar](50) NULL,
	[Corrective_Action] [nvarchar](100) NULL,
	[Worker] [nvarchar](50) NULL,
 CONSTRAINT [PK_Machine_Cleaning] PRIMARY KEY CLUSTERED 
(
	[Machine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_cleaninng]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_cleaninng](
	[Machine] [nvarchar](50) NOT NULL,
	[Site] [ntext] NOT NULL,
	[Place] [nvarchar](20) NULL,
	[Date_Time] [datetime] NULL,
	[Previous_Product] [nvarchar](100) NULL,
	[Clean] [bit] NOT NULL,
	[Material] [nvarchar](100) NOT NULL,
	[Dose] [nvarchar](20) NULL,
	[Corrective_Action] [nvarchar](50) NULL,
	[Worker] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Machine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenance]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[site_Option] [nvarchar](20) NULL,
	[Machine] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Malfunction] [nvarchar](50) NULL,
	[Repaired] [bit] NULL,
	[Responsible] [nvarchar](20) NULL,
	[site] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Machine] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Management]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Management](
	[Position] [nvarchar](50) NOT NULL,
	[Direct_Manager] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager_Approval]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_Approval](
	[Additional_cost] [float] NULL,
	[EX_Rate] [nvarchar](50) NULL,
	[Profit] [float] NULL,
	[Total_cost_EGP] [float] NULL,
	[Total_price_EGP] [float] NULL,
	[Profit_EGP] [float] NULL,
	[Total_cost] [float] NOT NULL,
	[Total_Price] [float] NOT NULL,
	[Profit_NaN] [nvarchar](50) NULL,
	[Approved] [bit] NOT NULL,
	[Approved_Date] [datetime] NULL,
 CONSTRAINT [PK_Manager_Approval] PRIMARY KEY CLUSTERED 
(
	[Total_cost] ASC,
	[Total_Price] ASC,
	[Approved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mass_Balance]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mass_Balance](
	[Product] [nvarchar](100) NULL,
	[Season] [nvarchar](50) NULL,
	[Lot] [bigint] NOT NULL,
	[Supplier] [nvarchar](100) NULL,
	[Certification_Body] [nvarchar](100) NULL,
	[Farm_invoice] [bigint] NULL,
	[Domestic] [nvarchar](50) NULL,
	[Lot_OTY] [bigint] NULL,
	[Processing] [bigint] NULL,
	[Local] [nvarchar](100) NULL,
	[Clean_Dose] [nvarchar](100) NULL,
	[Balance] [bigint] NOT NULL,
	[Receive_Order] [bigint] NULL,
	[Receive_Date] [date] NULL,
 CONSTRAINT [PK_Mass_Balance] PRIMARY KEY CLUSTERED 
(
	[Lot] ASC,
	[Balance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MRL]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MRL](
	[Substance] [nvarchar](500) NULL,
	[Update] [nvarchar](max) NULL,
	[European_Union_Website] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Products]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Products](
	[Sn] [bigint] NOT NULL,
	[Product] [nvarchar](50) NOT NULL,
	[Final_Product] [nvarchar](50) NOT NULL,
	[Package_Type] [nvarchar](50) NULL,
	[Program] [nvarchar](50) NULL,
	[Fairtrade] [nvarchar](50) NULL,
	[Packages] [nvarchar](50) NULL,
	[Net_Wt] [nvarchar](50) NULL,
	[Gross_Wt] [nvarchar](50) NULL,
	[Total_Net] [nvarchar](50) NULL,
	[Total_Gross] [nvarchar](50) NULL,
	[Final_Lot] [nvarchar](50) NULL,
	[Client_Lot] [nvarchar](50) NULL,
	[Treatments] [nvarchar](50) NULL,
	[Production] [nvarchar](50) NULL,
	[Best_Before] [nvarchar](50) NULL,
	[Export_Order] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Order_Products] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC,
	[Product] ASC,
	[Final_Product] ASC,
	[Export_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organic_Balance]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organic_Balance](
	[Product] [nvarchar](50) NULL,
	[Season] [nvarchar](30) NULL,
	[Lot] [bigint] NOT NULL,
	[Supplier] [nvarchar](50) NULL,
	[Certification_Body] [nvarchar](50) NULL,
	[Farm_invoice] [float] NULL,
	[Domestic] [nvarchar](50) NULL,
	[Lot_OTY] [bigint] NULL,
	[Processing] [bigint] NULL,
	[Local] [nvarchar](50) NULL,
	[Clean Dose] [nvarchar](50) NULL,
	[Balance] [bigint] NOT NULL,
 CONSTRAINT [PK_Organic_Balance] PRIMARY KEY CLUSTERED 
(
	[Lot] ASC,
	[Balance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organic_local_Invoice]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organic_local_Invoice](
	[Station] [nvarchar](50) NULL,
	[Invoice_Number] [bigint] NULL,
	[Invoice_Date] [nvarchar](50) NOT NULL,
	[Firm] [nvarchar](50) NULL,
	[Product] [nvarchar](50) NULL,
	[Season] [nvarchar](50) NULL,
	[Quantity] [nvarchar](50) NULL,
	[Lot_Number] [float] NULL,
 CONSTRAINT [PK_organic_local_Invoice] PRIMARY KEY CLUSTERED 
(
	[Invoice_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package_Description]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package_Description](
	[Package] [bigint] NOT NULL,
	[Package_weight] [bigint] NULL,
	[No_Per_Ton] [float] NULL,
	[Pack_Price] [float] NULL,
	[Pack_Description] [nvarchar](500) NULL,
	[Packs_Price_Per_Ton] [float] NULL,
	[gridColumn2] [bigint] NULL,
	[Add_Order] [nvarchar](50) NULL,
 CONSTRAINT [PK_Package_Description] PRIMARY KEY CLUSTERED 
(
	[Package] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal_Hygiene]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal_Hygiene](
	[Site] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Yes] [bit] NULL,
	[No] [bit] NULL,
	[Date_Time] [datetime] NULL,
	[Place] [nvarchar](20) NULL,
	[Violation] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Site] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Processing_Dairy]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Processing_Dairy](
	[Start_date] [date] NOT NULL,
	[End_date] [date] NOT NULL,
	[Operation] [nvarchar](50) NULL,
	[Operation_date] [date] NOT NULL,
	[Operation_Kind] [nvarchar](50) NULL,
	[Machine] [nvarchar](50) NULL,
	[Batch_Number] [float] NULL,
	[Final_Lot] [bigint] NULL,
 CONSTRAINT [PK_Processing_Dairy] PRIMARY KEY CLUSTERED 
(
	[Start_date] ASC,
	[End_date] ASC,
	[Operation_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Processing_order]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Processing_order](
	[Station] [nvarchar](50) NULL,
	[Processing_Order] [bigint] NULL,
	[Product] [nvarchar](50) NULL,
	[Final_Lot] [bigint] NOT NULL,
	[Order_Date] [date] NULL,
	[Batch_Number] [float] NOT NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Program] [nvarchar](100) NULL,
	[Fairtrade] [nvarchar](50) NULL,
	[Packages] [float] NULL,
	[Gross_Wt] [nvarchar](50) NULL,
	[Total_Net] [nvarchar](50) NULL,
	[Net_Wt] [nvarchar](50) NULL,
	[Total_Gross] [nvarchar](50) NULL,
	[Client_Lot] [bigint] NULL,
	[Treatment] [nvarchar](50) NULL,
	[Raw_Wt] [nvarchar](50) NULL,
 CONSTRAINT [PK_Processing_order] PRIMARY KEY CLUSTERED 
(
	[Final_Lot] ASC,
	[Batch_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessingOrder_DateWorker]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessingOrder_DateWorker](
	[Worker_Name] [nvarchar](50) NULL,
	[Final_Lot] [bigint] NULL,
	[Batch_Number] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Pricing]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Pricing](
	[Pricing_Date] [date] NOT NULL,
	[Product] [nvarchar](50) NULL,
	[Final_Product] [nvarchar](100) NOT NULL,
	[Grade] [nvarchar](50) NULL,
	[Dry_Method] [nvarchar](100) NULL,
	[Treatment] [nvarchar](100) NULL,
	[Pack_Type] [nvarchar](50) NULL,
	[Raw Price/ Ton] [float] NULL,
	[Processing Cost/Ton] [float] NULL,
	[Organic_cert/Ton] [nvarchar](100) NULL,
	[Dry_Cost/Ton] [nvarchar](50) NULL,
	[Treatment_cost/Ton] [nvarchar](50) NULL,
	[Pack_Wt] [nvarchar](50) NULL,
	[Packages/Ton] [nvarchar](50) NULL,
	[Pack_Price] [float] NULL,
	[Package_Cost/Ton] [nvarchar](50) NULL,
	[Ton_Cost] [float] NULL,
	[Site] [nvarchar](50) NULL,
	[Qoute_No] [bigint] NULL,
	[Client_Code] [bigint] NULL,
	[total_cost] [float] NULL,
	[total_price] [float] NULL,
	[Approved] [bit] NULL,
 CONSTRAINT [PK_Product_Pricing] PRIMARY KEY CLUSTERED 
(
	[Pricing_Date] ASC,
	[Final_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qulity_control_check]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qulity_control_check](
	[Ex_material%] [float] NOT NULL,
	[Mold%] [float] NULL,
	[stem] [float] NULL,
	[Another_Dis_Kg] [float] NULL,
	[Exotic_Seseds%] [float] NULL,
	[insect%] [float] NULL,
	[color%] [float] NULL,
	[Usable%] [float] NULL,
	[Grasses%] [float] NULL,
	[Dust_Kg%] [float] NULL,
	[Humidity%] [float] NULL,
	[Simi_weight_Kg %] [float] NULL,
	[Scales%] [float] NULL,
	[visual_check_Notes] [nvarchar](500) NULL,
	[Analysis_Certificate] [nvarchar](100) NULL,
	[Quality_Control] [nvarchar](100) NULL,
	[Usable_Person] [nvarchar](100) NULL,
	[Final_weight] [float] NULL,
	[Withdrow] [bit] NULL,
	[wearhouse] [nvarchar](100) NULL,
	[Decisions] [nvarchar](200) NULL,
	[Kg_Price] [float] NULL,
	[Lot] [bigint] NULL,
	[Balance] [bigint] NULL,
 CONSTRAINT [PK_Qulity_control_check] PRIMARY KEY CLUSTERED 
(
	[Ex_material%] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation_statment]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation_statment](
	[coordinator] [nvarchar](50) NULL,
	[Client] [nvarchar](50) NULL,
	[Client_Country] [nvarchar](50) NULL,
	[Discharge] [bit] NULL,
	[Payment] [nvarchar](50) NULL,
	[Delivery] [nvarchar](50) NULL,
	[Marks] [nvarchar](50) NULL,
	[Station_Approval] [nvarchar](50) NULL,
	[Client_Confirmation] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receive_Order]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receive_Order](
	[Receive_Order] [bigint] NOT NULL,
	[Farm_Invoice] [bigint] NULL,
	[Dom/Inv] [nvarchar](200) NULL,
	[Supplier] [nvarchar](100) NULL,
	[Product] [nvarchar](200) NULL,
	[Season] [nvarchar](50) NULL,
	[Year] [date] NULL,
	[Lot_Weight] [bigint] NULL,
	[FT] [bit] NULL,
	[Packages] [bigint] NULL,
	[Packages_Weight] [float] NULL,
	[Station] [nvarchar](100) NULL,
	[Receive_Date] [date] NOT NULL,
	[CB] [nvarchar](100) NULL,
	[Product_Status] [nvarchar](100) NULL,
	[Product_Type] [nvarchar](100) NULL,
	[Farm_lot] [nvarchar](50) NULL,
	[Biscal] [nvarchar](50) NULL,
	[Packages_Type] [nvarchar](100) NULL,
	[Empty_WT] [float] NULL,
	[Fresh_dry] [nvarchar](100) NULL,
 CONSTRAINT [PK_Receive_Order] PRIMARY KEY CLUSTERED 
(
	[Receive_Order] ASC,
	[Receive_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sample_Lot]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sample_Lot](
	[Receive_Lot] [bigint] NOT NULL,
	[Receive_Order] [bigint] NOT NULL,
	[Farm_invoice] [bigint] NULL,
	[Domestic] [nvarchar](100) NULL,
 CONSTRAINT [PK_Sample_Lot] PRIMARY KEY CLUSTERED 
(
	[Receive_Lot] ASC,
	[Receive_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment_Product]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment_Product](
	[Product] [nvarchar](50) NULL,
	[Final_Product] [nvarchar](50) NULL,
	[Final_Lot] [bigint] NOT NULL,
	[Client_Lot] [bigint] NULL,
	[Fairtrade] [nvarchar](50) NULL,
	[Pakage] [float] NULL,
	[Gross] [bigint] NULL,
	[Net] [bigint] NULL,
	[Shipping_Order] [nvarchar](50) NULL,
	[Export_Order] [nvarchar](80) NULL,
 CONSTRAINT [PK_Shipment_Product] PRIMARY KEY CLUSTERED 
(
	[Final_Lot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping_Order]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping_Order](
	[Shipping_Order] [nvarchar](50) NOT NULL,
	[Shipping_From] [nvarchar](50) NULL,
	[Driver_Name] [nvarchar](80) NULL,
	[Seal_Kind] [nvarchar](50) NULL,
	[Export_Order] [nvarchar](80) NOT NULL,
	[Driver_ID] [bigint] NULL,
	[Seal_Num] [nvarchar](50) NULL,
	[Ship_Date] [datetime] NULL,
	[Destintation] [nvarchar](100) NULL,
	[Driver_Mobile] [nvarchar](50) NULL,
	[Container_Volumn] [nvarchar](50) NULL,
	[Trailer_Num] [bigint] NULL,
	[Container_Num] [bigint] NULL,
 CONSTRAINT [PK_Shipping_Order] PRIMARY KEY CLUSTERED 
(
	[Shipping_Order] ASC,
	[Export_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingOrder_Internal]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingOrder_Internal](
	[Shipping_Order] [nvarchar](50) NULL,
	[Export_Order] [nvarchar](80) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System](
	[Qoutation] [bit] NULL,
	[Export_Order] [bit] NULL,
	[Quality_Control] [bit] NULL,
	[Storage] [bit] NULL,
	[Processing] [bit] NULL,
	[Shipping] [bit] NULL,
	[Hygiene] [bit] NULL,
	[Maintenenace] [bit] NULL,
	[HR] [bit] NULL,
	[Documents] [bit] NULL,
	[AdminstratorID] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traps_FollowUp]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traps_FollowUp](
	[Trap_No] [bigint] NOT NULL,
	[site] [ntext] NOT NULL,
	[Date] [date] NULL,
	[Trap_Kind] [nvarchar](20) NULL,
	[No_of_insects] [bigint] NULL,
	[Remarks] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Trap_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[Date] [date] NULL,
	[Treatment] [nvarchar](50) NOT NULL,
	[Treatment_Place] [nvarchar](50) NULL,
	[Duration] [nvarchar](50) NULL,
	[Temp] [nvarchar](50) NULL,
	[Batch_Number] [float] NULL,
	[Final_Lot] [bigint] NULL,
 CONSTRAINT [PK_Treatments] PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[AdminstratorID] [bigint] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacation_Balance]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacation_Balance](
	[Employee] [nvarchar](100) NOT NULL,
	[Arrual] [nvarchar](20) NULL,
	[Sick] [nvarchar](20) NULL,
	[Emergency] [nvarchar](20) NULL,
	[Annual_balance] [float] NULL,
	[sick_balance] [float] NULL,
	[Emergency_balance] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacation_Request]    Script Date: 2/26/2023 4:12:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacation_Request](
	[Employe] [nvarchar](100) NOT NULL,
	[Vacation_Reason] [nvarchar](500) NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Annual] [nvarchar](50) NULL,
	[sick] [nvarchar](50) NULL,
	[Emergency] [nvarchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Add_final_product]  WITH CHECK ADD  CONSTRAINT [FK_Add_final_product_Add_final_product] FOREIGN KEY([Add_order])
REFERENCES [dbo].[Add_final_product] ([Add_order])
GO
ALTER TABLE [dbo].[Add_final_product] CHECK CONSTRAINT [FK_Add_final_product_Add_final_product]
GO
ALTER TABLE [dbo].[AddOrganicRaw_OrganicBalance]  WITH CHECK ADD  CONSTRAINT [FK_AddOrganicRaw_OrganicBalance_Add_Organic_Raw] FOREIGN KEY([Primary_Receive_Order])
REFERENCES [dbo].[Add_Organic_Raw] ([Primary_Receive_Order])
GO
ALTER TABLE [dbo].[AddOrganicRaw_OrganicBalance] CHECK CONSTRAINT [FK_AddOrganicRaw_OrganicBalance_Add_Organic_Raw]
GO
ALTER TABLE [dbo].[AddOrganicRaw_OrganicBalance]  WITH CHECK ADD  CONSTRAINT [FK_AddOrganicRaw_OrganicBalance_Organic_Balance] FOREIGN KEY([Lot], [Balance])
REFERENCES [dbo].[Organic_Balance] ([Lot], [Balance])
GO
ALTER TABLE [dbo].[AddOrganicRaw_OrganicBalance] CHECK CONSTRAINT [FK_AddOrganicRaw_OrganicBalance_Organic_Balance]
GO
ALTER TABLE [dbo].[Analysis_Sample]  WITH CHECK ADD  CONSTRAINT [FK_Analysis_Sample_Analysis_Sample] FOREIGN KEY([Sample_Lot])
REFERENCES [dbo].[Analysis_Sample] ([Sample_Lot])
GO
ALTER TABLE [dbo].[Analysis_Sample] CHECK CONSTRAINT [FK_Analysis_Sample_Analysis_Sample]
GO
ALTER TABLE [dbo].[Check_item]  WITH CHECK ADD  CONSTRAINT [FK_Check_item_JAS_Check_List] FOREIGN KEY([Export_Order], [Final_Lot])
REFERENCES [dbo].[JAS_Check_List] ([Export_Order], [Final_Lot])
GO
ALTER TABLE [dbo].[Check_item] CHECK CONSTRAINT [FK_Check_item_JAS_Check_List]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([Position])
REFERENCES [dbo].[Management] ([Position])
GO
ALTER TABLE [dbo].[Export_Label]  WITH CHECK ADD  CONSTRAINT [FK_Export_Label_Export_Order] FOREIGN KEY([Export_Order], [Final_product])
REFERENCES [dbo].[Export_Order] ([Export_Order], [Final_Product])
GO
ALTER TABLE [dbo].[Export_Label] CHECK CONSTRAINT [FK_Export_Label_Export_Order]
GO
ALTER TABLE [dbo].[Export_Lot_Sample_Lot]  WITH CHECK ADD  CONSTRAINT [FK_Export_Lot_Sample_Lot_Exported_Lots] FOREIGN KEY([Final_Lot])
REFERENCES [dbo].[Exported_Lots] ([Final_Lot])
GO
ALTER TABLE [dbo].[Export_Lot_Sample_Lot] CHECK CONSTRAINT [FK_Export_Lot_Sample_Lot_Exported_Lots]
GO
ALTER TABLE [dbo].[Export_Lot_Sample_Lot]  WITH CHECK ADD  CONSTRAINT [FK_Export_Lot_Sample_Lot_Sample_Lot] FOREIGN KEY([Receive_Lot], [Receive_Order])
REFERENCES [dbo].[Sample_Lot] ([Receive_Lot], [Receive_Order])
GO
ALTER TABLE [dbo].[Export_Lot_Sample_Lot] CHECK CONSTRAINT [FK_Export_Lot_Sample_Lot_Sample_Lot]
GO
ALTER TABLE [dbo].[Export_Order]  WITH CHECK ADD  CONSTRAINT [FK_Export_Order_Export_Quotation(Resquest_Quotation)] FOREIGN KEY([Site], [Quote_No], [Client_Code])
REFERENCES [dbo].[Export_Quotation(Resquest_Quotation)] ([Site], [Qoute_No], [Client_Code])
GO
ALTER TABLE [dbo].[Export_Order] CHECK CONSTRAINT [FK_Export_Order_Export_Quotation(Resquest_Quotation)]
GO
ALTER TABLE [dbo].[Export_Quotation(Resquest_Quotation)]  WITH CHECK ADD  CONSTRAINT [FK_Export_Quotation(Resquest_Quotation)_Export_Quotation(Resquest_Quotation)] FOREIGN KEY([Total_cost], [Total_Price], [Approved])
REFERENCES [dbo].[Manager_Approval] ([Total_cost], [Total_Price], [Approved])
GO
ALTER TABLE [dbo].[Export_Quotation(Resquest_Quotation)] CHECK CONSTRAINT [FK_Export_Quotation(Resquest_Quotation)_Export_Quotation(Resquest_Quotation)]
GO
ALTER TABLE [dbo].[Export_Reports]  WITH CHECK ADD  CONSTRAINT [FK_Export_Reports_Export_Order] FOREIGN KEY([Export_Order], [Final_Product])
REFERENCES [dbo].[Export_Order] ([Export_Order], [Final_Product])
GO
ALTER TABLE [dbo].[Export_Reports] CHECK CONSTRAINT [FK_Export_Reports_Export_Order]
GO
ALTER TABLE [dbo].[Export_Sample]  WITH CHECK ADD  CONSTRAINT [FK_Export_Sample_Qulity_control_check] FOREIGN KEY([Ex_material%])
REFERENCES [dbo].[Qulity_control_check] ([Ex_material%])
GO
ALTER TABLE [dbo].[Export_Sample] CHECK CONSTRAINT [FK_Export_Sample_Qulity_control_check]
GO
ALTER TABLE [dbo].[Exported_Lots]  WITH CHECK ADD  CONSTRAINT [FK_Exported_Lots_Lot_Traceability] FOREIGN KEY([Export_Order])
REFERENCES [dbo].[Lot_Traceability] ([Export_Order])
GO
ALTER TABLE [dbo].[Exported_Lots] CHECK CONSTRAINT [FK_Exported_Lots_Lot_Traceability]
GO
ALTER TABLE [dbo].[information_sticker]  WITH CHECK ADD  CONSTRAINT [FK_information_sticker_Export_Order] FOREIGN KEY([Export_Order], [Final_Product])
REFERENCES [dbo].[Export_Order] ([Export_Order], [Final_Product])
GO
ALTER TABLE [dbo].[information_sticker] CHECK CONSTRAINT [FK_information_sticker_Export_Order]
GO
ALTER TABLE [dbo].[information_sticker]  WITH CHECK ADD  CONSTRAINT [FK_information_sticker_information_sticker] FOREIGN KEY([Export_Order], [Final_Product])
REFERENCES [dbo].[information_sticker] ([Export_Order], [Final_Product])
GO
ALTER TABLE [dbo].[information_sticker] CHECK CONSTRAINT [FK_information_sticker_information_sticker]
GO
ALTER TABLE [dbo].[Internal_Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Internal_Shipping_Cars_Drivers] FOREIGN KEY([Driver_ID])
REFERENCES [dbo].[Cars_Drivers] ([Driver_ID])
GO
ALTER TABLE [dbo].[Internal_Shipping] CHECK CONSTRAINT [FK_Internal_Shipping_Cars_Drivers]
GO
ALTER TABLE [dbo].[Internal_Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Internal_Shipping_Loading_workers] FOREIGN KEY([Worker_Mobile])
REFERENCES [dbo].[Loading_workers] ([Worker_Mobile])
GO
ALTER TABLE [dbo].[Internal_Shipping] CHECK CONSTRAINT [FK_Internal_Shipping_Loading_workers]
GO
ALTER TABLE [dbo].[Machine_Cleaning]  WITH CHECK ADD  CONSTRAINT [FK_Machine_Cleaning_Processing_Dairy] FOREIGN KEY([Start_date], [End_date], [Operation_date])
REFERENCES [dbo].[Processing_Dairy] ([Start_date], [End_date], [Operation_date])
GO
ALTER TABLE [dbo].[Machine_Cleaning] CHECK CONSTRAINT [FK_Machine_Cleaning_Processing_Dairy]
GO
ALTER TABLE [dbo].[Machine_cleaninng]  WITH CHECK ADD  CONSTRAINT [FK_Daily_Hygiene_Machine_cleaninng] FOREIGN KEY([Place], [Date_Time])
REFERENCES [dbo].[Daily_Hygiene] ([Place], [Date_Time])
GO
ALTER TABLE [dbo].[Machine_cleaninng] CHECK CONSTRAINT [FK_Daily_Hygiene_Machine_cleaninng]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD FOREIGN KEY([site])
REFERENCES [dbo].[Calibration] ([site])
GO
ALTER TABLE [dbo].[Mass_Balance]  WITH CHECK ADD  CONSTRAINT [FK_Mass_Balance_Receive_Order] FOREIGN KEY([Receive_Order], [Receive_Date])
REFERENCES [dbo].[Receive_Order] ([Receive_Order], [Receive_Date])
GO
ALTER TABLE [dbo].[Mass_Balance] CHECK CONSTRAINT [FK_Mass_Balance_Receive_Order]
GO
ALTER TABLE [dbo].[Order_Products]  WITH CHECK ADD  CONSTRAINT [FK_Order_Products_Export_Order] FOREIGN KEY([Export_Order], [Final_Product])
REFERENCES [dbo].[Export_Order] ([Export_Order], [Final_Product])
GO
ALTER TABLE [dbo].[Order_Products] CHECK CONSTRAINT [FK_Order_Products_Export_Order]
GO
ALTER TABLE [dbo].[Order_Products]  WITH CHECK ADD  CONSTRAINT [FK_Order_Products_information_sticker] FOREIGN KEY([Export_Order], [Final_Product])
REFERENCES [dbo].[information_sticker] ([Export_Order], [Final_Product])
GO
ALTER TABLE [dbo].[Order_Products] CHECK CONSTRAINT [FK_Order_Products_information_sticker]
GO
ALTER TABLE [dbo].[Personal_Hygiene]  WITH CHECK ADD  CONSTRAINT [FK_Daily_Hygiene_Personal_Hygiene] FOREIGN KEY([Place], [Date_Time])
REFERENCES [dbo].[Daily_Hygiene] ([Place], [Date_Time])
GO
ALTER TABLE [dbo].[Personal_Hygiene] CHECK CONSTRAINT [FK_Daily_Hygiene_Personal_Hygiene]
GO
ALTER TABLE [dbo].[Processing_Dairy]  WITH CHECK ADD  CONSTRAINT [FK_Processing_Dairy_Processing_Dairy1] FOREIGN KEY([Final_Lot], [Batch_Number])
REFERENCES [dbo].[Processing_order] ([Final_Lot], [Batch_Number])
GO
ALTER TABLE [dbo].[Processing_Dairy] CHECK CONSTRAINT [FK_Processing_Dairy_Processing_Dairy1]
GO
ALTER TABLE [dbo].[ProcessingOrder_DateWorker]  WITH CHECK ADD  CONSTRAINT [FK_ProcessingOrder_DateWorker_Date_worker] FOREIGN KEY([Worker_Name])
REFERENCES [dbo].[Date_worker] ([Worker_Name])
GO
ALTER TABLE [dbo].[ProcessingOrder_DateWorker] CHECK CONSTRAINT [FK_ProcessingOrder_DateWorker_Date_worker]
GO
ALTER TABLE [dbo].[ProcessingOrder_DateWorker]  WITH CHECK ADD  CONSTRAINT [FK_ProcessingOrder_DateWorker_Processing_order] FOREIGN KEY([Final_Lot], [Batch_Number])
REFERENCES [dbo].[Processing_order] ([Final_Lot], [Batch_Number])
GO
ALTER TABLE [dbo].[ProcessingOrder_DateWorker] CHECK CONSTRAINT [FK_ProcessingOrder_DateWorker_Processing_order]
GO
ALTER TABLE [dbo].[Product_Pricing]  WITH CHECK ADD  CONSTRAINT [FK_Product_Pricing_Export_Quotation(Resquest_Quotation)] FOREIGN KEY([Site], [Qoute_No], [Client_Code])
REFERENCES [dbo].[Export_Quotation(Resquest_Quotation)] ([Site], [Qoute_No], [Client_Code])
GO
ALTER TABLE [dbo].[Product_Pricing] CHECK CONSTRAINT [FK_Product_Pricing_Export_Quotation(Resquest_Quotation)]
GO
ALTER TABLE [dbo].[Product_Pricing]  WITH CHECK ADD  CONSTRAINT [FK_Product_Pricing_Manager_Approval] FOREIGN KEY([total_cost], [total_price], [Approved])
REFERENCES [dbo].[Manager_Approval] ([Total_cost], [Total_Price], [Approved])
GO
ALTER TABLE [dbo].[Product_Pricing] CHECK CONSTRAINT [FK_Product_Pricing_Manager_Approval]
GO
ALTER TABLE [dbo].[Qulity_control_check]  WITH CHECK ADD  CONSTRAINT [FK_Qulity_control_check_Mass_Balance] FOREIGN KEY([Lot], [Balance])
REFERENCES [dbo].[Mass_Balance] ([Lot], [Balance])
GO
ALTER TABLE [dbo].[Qulity_control_check] CHECK CONSTRAINT [FK_Qulity_control_check_Mass_Balance]
GO
ALTER TABLE [dbo].[Shipment_Product]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Product_Shipping_Order] FOREIGN KEY([Shipping_Order], [Export_Order])
REFERENCES [dbo].[Shipping_Order] ([Shipping_Order], [Export_Order])
GO
ALTER TABLE [dbo].[Shipment_Product] CHECK CONSTRAINT [FK_Shipment_Product_Shipping_Order]
GO
ALTER TABLE [dbo].[ShippingOrder_Internal]  WITH CHECK ADD  CONSTRAINT [FK_ShippingOrder_Internal_Internal_Shipping] FOREIGN KEY([Shipping_Order])
REFERENCES [dbo].[Internal_Shipping] ([Shipping_Order])
GO
ALTER TABLE [dbo].[ShippingOrder_Internal] CHECK CONSTRAINT [FK_ShippingOrder_Internal_Internal_Shipping]
GO
ALTER TABLE [dbo].[ShippingOrder_Internal]  WITH CHECK ADD  CONSTRAINT [FK_ShippingOrder_Internal_Shipping_Order] FOREIGN KEY([Shipping_Order], [Export_Order])
REFERENCES [dbo].[Shipping_Order] ([Shipping_Order], [Export_Order])
GO
ALTER TABLE [dbo].[ShippingOrder_Internal] CHECK CONSTRAINT [FK_ShippingOrder_Internal_Shipping_Order]
GO
ALTER TABLE [dbo].[System]  WITH CHECK ADD  CONSTRAINT [FK_System_Adminstrator] FOREIGN KEY([AdminstratorID])
REFERENCES [dbo].[Adminstrator] ([AdminstratorID])
GO
ALTER TABLE [dbo].[System] CHECK CONSTRAINT [FK_System_Adminstrator]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_Treatments_Processing_order] FOREIGN KEY([Final_Lot], [Batch_Number])
REFERENCES [dbo].[Processing_order] ([Final_Lot], [Batch_Number])
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_Treatments_Processing_order]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Adminstrator] FOREIGN KEY([AdminstratorID])
REFERENCES [dbo].[Adminstrator] ([AdminstratorID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Adminstrator]
GO
ALTER TABLE [dbo].[Vacation_Balance]  WITH CHECK ADD FOREIGN KEY([Employee])
REFERENCES [dbo].[Employees] ([Employee])
GO
ALTER TABLE [dbo].[Vacation_Request]  WITH CHECK ADD FOREIGN KEY([Employe])
REFERENCES [dbo].[Employees] ([Employee])
GO
USE [master]
GO
